:root {
  // Шрифты
  --font-family-main: "Lexend", sans-serif;

  --font-size-xs: 18px;
  --font-line-xs: 27px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs)
    var(--font-family-secondary);
  --font-size-s: 24px;
  --font-line-s: 36px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-secondary);
  --font-size-m: 32px;
  --font-line-m: 48px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 48px;
  --font-line-l: 72px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // z-index
  --modal-z-index: 10;

  // Цвета
  --cl-white: #fff;
  --cl-white-subtitle: #e4e4e7;
  --cl-background: #1f1f1f;
  --cl-black: #1c1c1c;
  --cl-main: #caff33;
  --cl-yellow: #ffd700;
  --cl-gray: #262626;
  --cl-gray-70: #B3B3B3;
}
